<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="box-faqs">
                            <div class="faqs">FAQS</div>
                            <div class="promotions">Promotions</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="box-get-help">
                          <div class="get-help"> <a href="../contact">Get help</a></div>
                          <div class="return-refund">Return &amp; Refund</div>
                          <div class="how-to-track-the-order">How to track the order</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="box-about-us">
                          <div> <a href="../contact" class="about-us">About us</a></div>
                          <div class="email-gmail-com">Email: lvup@gmail.com</div>
                          <div class="contact-us">Contact Us</div>
                          <div class="tel-1111-222-333">Tel: 1111-222-333</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="box-img">
                          <img class="facebook" src="/img/icon/new/facebook.png" />
                          <img class="instagram" src="/img/icon/new/instagram.png" />
                          <img class="twitter" src="/img/icon/new/twitter.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center"> 
            <div class="level-up-sport-inc-all-right-reserved">
                @LevelUpSport , Inc. All Right Reserved
            </div>
        </div>
    </div>
</section>
</body>
</html>