<head>
    <link rel="stylesheet" href="/back-office/public/css/nav.css">
</head>
<body>
    <header>
        <img class="logo" src="/back-office/public/img/brand/logo.png" alt="logo">
        <div class="header-nav">
            <div class="notification">
                <img class="bell" id="js-bell" src="/back-office/public/img/kids/clothing/s1_b.png" alt="bell">
                <p class="badge" id="badge-1"><strong class="badge-num">1</strong></p>
                <p class="badge" id="badge-2"><strong class="badge-num">2</strong></p>
                <p class="badge" id="badge-3"><strong class="badge-num">3</strong></p>
                <p class="badge" id="badge-4"><strong class="badge-num">4</strong></p>
                <ul class="notification-menu" id="notif-menu" style="display: none;">
                    <li id="header-li"><strong>Notifications</strong></li>
                    <li class="popuptext" id="li-1">
                        <img class="img" src="images/member-1.jpg" alt="member image">
                        <h3 class="name">Victoria Chambers</h3>
                        <p class="comment">What are your plans for tonight?</p>
                        <button class="btn-notif" type="button" name="delete">X</button>
                    </li>
                    <li class="popuptext" id="li-2">
                        <img class="img" src="images/member-2.jpg" alt="member image">
                        <h3 class="name">Dale Byrd</h3>
                        <p class="comment">Hey what's up?</p>
                        <button class="btn-notif" type="button" name="delete">X</button>
                    </li>
                    <li class="popuptext" id="li-3">
                        <img class="img" src="images/member-3.jpg" alt="member image">
                        <h3 class="name">Dawn Wood</h3>
                        <p class="comment">Just sent you a voice message</p>
                        <button class="btn-notif" type="button" name="delete">X</button>
                    </li>
                    <li class="popuptext" id="li-4">
                        <img class="img" src="images/member-4.jpg" alt="member image">
                        <h3 class="name">Dan Oliver</h3>
                        <p class="comment">Are you going to the game next week?</p>
                        <button class="btn-notif" type="button" name="delete">X</button>
                    </li>
                    <li class="popuptext popupalert" id="alert-bell" style="display: none;">
                        <h3>No new notifications</h3>
                    </li>
                </ul>
            </div>
            <span class="border-notif"></span>
            <img class="profile-pic" src="images/josh.jpg" alt="User Avatar">
            <h3 class="profile-name">Josh Sullivan</h3>
        </div>
    </header>
</body>