<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bill Summary</title>
    <link rel="stylesheet" href="../css/cat.css" />
  </head>
  <body>
    <%- include('partials/sidebar') %>
    <div class="container-wrap">
      <div class="content">
        <div class="scrollable-list">
      <table>
        <tr class="bood">
          <td><label class="Bruhtext"> Bill Summary</label></td>
          <td class="bubu"><button class="tsk" type="button">All</button></td>
          <td class="bubu"><button class="tsk" type="button">+</button></td>
        </tr>

        <tr class="bood">
          <td><label for="item1" class="tf">Date</label></td>
          <td><label for="item2" class="tf">Bill ID</label></td>
          <td><label for="item3" class="tf">Quality Order</label></td>
          <td><label for="item4" class="tf">Total</label></td>
        </tr>

        <tr class="bood">
          <td><label for="item1" class="tf">15/01/2023</label></td>
          <td><label for="item2" class="tf">#B1001</label></td>
          <td><label for="item3" class="tf">4</label></td>
          <td><label for="item4" class="tf">10,000</label></td>
        </tr>
        <tr class="bood">
          <td><label for="item1" class="tf">11/01/2023</label></td>
          <td><label for="item2" class="tf">#B1001</label></td>
          <td><label for="item3" class="tf">4</label></td>
          <td><label for="item4" class="tf">10,000</label></td>
        </tr>
        <tr class="bood">
          <td><label for="item1" class="tf">10/01/2023</label></td>
          <td><label for="item2" class="tf">#B1001</label></td>
          <td><label for="item3" class="tf">4</label></td>
          <td><label for="item4" class="tf">10,000</label></td>
        </tr>
        <tr class="bood">
          <td><label for="item1" class="tf">07/01/2023</label></td>
          <td><label for="item2" class="tf">#B1001</label></td>
          <td><label for="item3" class="tf">4</label></td>
          <td><label for="item4" class="tf">10,000</label></td>
        </tr>
        <tr class="bood">
          <td><label for="item1" class="tf">05/01/2023</label></td>
          <td><label for="item2" class="tf">#B1001</label></td>
          <td><label for="item3" class="tf">4</label></td>
          <td><label for="item4" class="tf">10,000</label></td>
        </tr>

        <tr class="bood">
          <td><label for="item1" class="tf">01/01/2023</label></td>
          <td><label for="item2" class="tf">#B1001</label></td>
          <td><label for="item3" class="tf">4</label></td>
          <td><label for="item4" class="tf">10,000</label></td>
        </tr>
        <!-- Add more rows with 6 columns as needed -->
      </table>
    </div>
      </div>
    </div>
    
  </body>
</html>
