<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Category</title>
  <link rel="stylesheet" href="../css/cat.css" />
</head>

<body>
  <%- include('partials/sidebar') %>
  <div class="content">
    <div class="container-fluied">

      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="font-weight: 600;">
          <a href="/deProduct">Add Category</a></h1>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">

          <div class="scrollable-list">
            <table>
              <tr class="bood">
                <td><label> </label></td>
                <td class="bubu"><button class="tsk" type="button">All</button></td>
                <td class="bubu"><button class="tsk" type="button">+</button></td>
              </tr>

              <tr class="bood">
                <td><label> </label></td>
                <td><label for="item1" class="tf">Title</label></td>
                <td><label for="item2" class="tf">Product</label></td>
                <td><label for="item3" class="tf">Category ID</label></td>
              </tr>

              <tr class="bood">
                <td>
                  <input type="checkbox" id="item1" name="item1" /><label> </label>
                </td>
                <td><label for="item1" class="tf">Men</label></td>
                <td><label for="item2" class="tf">20</label></td>
                <td><label for="item3" class="tf">#C1001</label></td>
              </tr>
              <tr class="bood">
                <td>
                  <input type="checkbox" id="item1" name="item1" /><label> </label>
                </td>
                <td><label for="item1" class="tf">Women</label></td>
                <td><label for="item2" class="tf">30</label></td>
                <td><label for="item3" class="tf">#C1001</label></td>
              </tr>
              <tr class="bood">
                <td>
                  <input type="checkbox" id="item1" name="item1" /><label> </label>
                </td>
                <td><label for="item1" class="tf">Kids</label></td>
                <td><label for="item2" class="tf">20</label></td>
                <td><label for="item3" class="tf">#C1001</label></td>
              </tr>
              <tr class="bood">
                <td>
                  <input type="checkbox" id="item1" name="item1" /><label> </label>
                </td>
                <td><label for="item1" class="tf">Shoes</label></td>
                <td><label for="item2" class="tf">15</label></td>
                <td><label for="item3" class="tf">#C1001</label></td>
              </tr>
              <tr class="bood">
                <td>
                  <input type="checkbox" id="item1" name="item1" /><label> </label>
                </td>
                <td><label for="item1" class="tf">Shirt</label></td>
                <td><label for="item2" class="tf">20</label></td>
                <td><label for="item3" class="tf">#C1001</label></td>
              </tr>

              <tr class="bood">
                <td>
                  <input type="checkbox" id="item1" name="item1" /><label> </label>
                </td>
                <td><label for="item1" class="tf">Shorts</label></td>
                <td><label for="item2" class="tf">18</label></td>
                <td><label for="item3" class="tf">#C1001</label></td>
              </tr>

              <tr class="bood">
                <td>
                  <input type="checkbox" id="item1" name="item1" /><label> </label>
                </td>
                <td><label for="item1" class="tf">Clothing</label></td>
                <td><label for="item2" class="tf">20</label></td>
                <td><label for="item3" class="tf">#C1001</label></td>
              </tr>

              <tr class="bood">
                <td>
                  <input type="checkbox" id="item1" name="item1" /><label> </label>
                </td>
                <td><label for="item1" class="tf">Accessory</label></td>
                <td><label for="item2" class="tf">25</label></td>
                <td><label for="item3" class="tf">#C1001</label></td>
              </tr>
              <!-- Add more rows with 6 columns as needed -->
            </table>
          </div>
        </div>
      </div>
      </div>
  </div>
    



</body>

</html>