<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sale</title>
    <link rel="stylesheet" href="../css/Bpg.css" />
  </head>
  <body>
    <div class="scrollable-list">
      <table>
        <tr class="bood">
          <td class="bubu"><button class="tsk" type="button">All</button></td>
          <td class="bubu"><button class="tsk" type="button">+</button></td>
        </tr>

        <tr class="bood">
          <td><label for="item1" class="tf">Title</label></td>
          <td><label for="item2" class="tf">Type</label></td>
          <td><label for="item3" class="tf">Product ID</label></td>
          <td><label for="item4" class="tf">Price</label></td>
          <td><label for="item5" class="tf">Bill ID</label></td>
          <td><label for="item6" class="tf">Date</label></td>
          <td><label for="item7" class="tf">Quantity Order</label></td>
          <td><label for="item8" class="tf">Total</label></td>
        </tr>

        <tr class="bood">
          <td><label for="item1" class="tf">Adidas</label></td>
          <td><label for="item2" class="tf">shoes</label></td>
          <td><label for="item3" class="tf">#S1001</label></td>
          <td><label for="item4" class="tf">$1100</label></td>
          <td><label for="item5" class="tf">1001</label></td>
          <td><label for="item6" class="tf">01/01/2023</label></td>
          <td><label for="item7" class="tf">15</label></td>
          <td><label for="item8" class="tf">10,000</label></td>
        </tr>
        <tr class="bood">
          <td><label for="item1" class="tf">Adidas</label></td>
          <td><label for="item2" class="tf">shoes</label></td>
          <td><label for="item3" class="tf">#S1001</label></td>
          <td><label for="item4" class="tf">$1000</label></td>
          <td><label for="item5" class="tf">1001</label></td>
          <td><label for="item6" class="tf">01/01/2023</label></td>
          <td><label for="item7" class="tf">15</label></td>
          <td><label for="item8" class="tf">10,000</label></td>
        </tr>
        <tr class="bood">
          <td><label for="item1" class="tf">Adidas</label></td>
          <td><label for="item2" class="tf">shoes</label></td>
          <td><label for="item3" class="tf">#S1001</label></td>
          <td><label for="item4" class="tf">$900</label></td>
          <td><label for="item5" class="tf">1001</label></td>
          <td><label for="item6" class="tf">01/01/2023</label></td>
          <td><label for="item7" class="tf">15</label></td>
          <td><label for="item8" class="tf">10,000</label></td>
        </tr>
        <tr class="bood">
          <td><label for="item1" class="tf">Adidas</label></td>
          <td><label for="item2" class="tf">shoes</label></td>
          <td><label for="item3" class="tf">#S1001</label></td>
          <td><label for="item4" class="tf">$500</label></td>
          <td><label for="item5" class="tf">1001</label></td>
          <td><label for="item6" class="tf">01/01/2023</label></td>
          <td><label for="item7" class="tf">15</label></td>
          <td><label for="item8" class="tf">10,000</label></td>
        </tr>
        <tr class="bood">
          <td><label for="item1" class="tf">Adidas</label></td>
          <td><label for="item2" class="tf">shoes</label></td>
          <td><label for="item3" class="tf">#S1001</label></td>
          <td><label for="item4" class="tf">$300</label></td>
          <td><label for="item5" class="tf">1001</label></td>
          <td><label for="item6" class="tf">01/01/2023</label></td>
          <td><label for="item7" class="tf">15</label></td>
          <td><label for="item8" class="tf">10,000</label></td>
        </tr>

        <tr class="bood">
          <td><label for="item1" class="tf">Adidas</label></td>
          <td><label for="item2" class="tf">shoes</label></td>
          <td><label for="item3" class="tf">#S1001</label></td>
          <td><label for="item4" class="tf">$200</label></td>
          <td><label for="item5" class="tf">1001</label></td>
          <td><label for="item6" class="tf">01/01/2023</label></td>
          <td><label for="item7" class="tf">15</label></td>
          <td><label for="item8" class="tf">10,000</label></td>
        </tr>
        <!-- Add more rows with 6 columns as needed -->
      </table>
    </div>
  </body>
</html>
